<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>
<body>
    <div class="todo-container">
        <h1>To Do List</h1>
        <div class="todo">
            <form action="/" method="POST">
                <input type="text" name='content'>
                <button type="submit">Submit</button>
            </form>
            <ul class="todo-list">
                <% todoTasks.forEach(details => { %>
                <li class="todo-list-item">
                    <div class="todo-list-item-name"><%= details.content %></div>
                    <a href="/edit/<%= details._id %>" class="edit"><span>Edit</span></a>
                    <a href="/remove/<%= details._id %>" class="delete"><span>Delete</span></a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>